h1{
  color: color(srgb 0.79 0.4 0.4);
    text-shadow: 2px 2px 5px whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
}
p{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
}

.details{
  box-sizing: border-box;
  margin: 30px;
  width: auto;
  display:flex;
  background-color: #d6d94b2e;
}

.image{
  margin: 20px;
  margin-left:20px;
  height: 500px;
  width: 700px;
  
}

.image img{
  height: 100%;
  width: 100%;
}

.row{
  margin-left: 10px;
  
}
.content{
  margin-left: 40px;
  width:900px;
}

.recipe-summary-item{
 
  font-size:10px;
 
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.inst{
  width:700px;
  margin-left:20px;
}
.one{
  width:60%;
}

.two{
  width:50%;
}
.full{
  display:flex;
}


  
  .txt{  
   font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  
  }
  
  .par{
  height:fit-content;
  padding:10px;
 border-radius: 5px;
  color: rgb(16, 6, 6);
  
  }






