

<mat-toolbar>
  <div style="margin-left: 40px;">
  <span>
    <img src="http://localhost/logo2.png">
  </span>
  </div>
  <span appHover>{{"translate.my recipe" | translate}}</span>
  <div class="spacer">
    <a mat-button color ='primary'(click)="navigate('')">{{"translate.home" | translate}}</a>
    <a mat-button (click)="navigate('product')">{{"translate.recipe" | translate}}</a>
    <a mat-button  (click)="logout()">{{"translate.logout" | translate}}</a>
    <a mat-button (click)="navigate('contact')">Reach us</a>
  
  <span [style.marginLeft]="'200px'" [style.color]="'white'" [style.background-position]="'fixed'">
    <select [(ngModel)]="lang" (change)="changeLang()">
       <option *ngFor="let x of languages" value={{x.value}}>
         {{x.name}}</option>
    </select>
 </span>
  </div>
</mat-toolbar>


  