#wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

select{
  height:30px;
  width:200px;
  margin-top:90px;
  margin-left: 43px;
  border:2px solid;
  font-size:19px;

}
option{
  font-size:19px;
}