<mat-toolbar color="primary">
 
 <span>ADMIN</span>
 <span class="example-spacer"></span>
 <!-- <button mat-raised-button >Response</button> -->
  <button mat-raised-button (click)="openAddEditProductForm()">Add Product</button>
  <button mat-raised-button (click)="logout()">Logout</button>

</mat-toolbar>
<div class="main-body">

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.Name}}</td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
        <td mat-cell *matCellDef="let row"> {{row.image}}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.Description}}</td>
      </ng-container>

      <ng-container matColumnDef="ingredients">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingredients </th>
        <td mat-cell *matCellDef="let row"> {{row.Ingredients}}</td>
      </ng-container>

      <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Method </th>
        <td mat-cell *matCellDef="let row"> {{row.Method}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recipe Type </th>
        <td mat-cell *matCellDef="let row"> {{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="nutrition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nutrition </th>
        <td mat-cell *matCellDef="let row"> {{row.nutrition}}</td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let row"> {{row.CookingTime}}</td>
      </ng-container>
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
        <td mat-cell *matCellDef="let row"> {{row.TotalCalories}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteProduct(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

     
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
