.home img
{
  margin-top:65px;
    width: 100%;
    height: 400px;
    object-position: center;
    object-fit: cover;
}

.homecontent
{
  position: absolute;
  top: 32%;
  left: 10%;
  transform: translate(-50%,-50%);
}
.homecontent h1
{
    color: #094043;
    font-size: 30px;
    width: 200px;
}
.homecontent a
{
    margin-top: 10px;
}

@media screen and (max-width:600px)
{
    .home img
{
    height: 400px;
}
    .homecontent h1
{
    font-size: 40px;        
}
}

.course
{
    background-color: #eff6ff;
    padding: 10px 80px;
}
.box
{
    background-color: #ffffff;
    padding: 10px 20px;
}
.three img{
  float: left;
  width: 280px;
  height: 300px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px gray;
  margin: 40px;
  
}
.three{
  padding-left: 90px;
}