<div class="home">
  <img src="http://localhost/banner6.gif">
    
    <div class="homecontent">
    <h1>{{"translate.elavate your cooking skills" | translate}}</h1>
    <button class="btn btn-light" (click)="navigate('product')">{{"translate.view recipe" | translate}}</button>
</div>
    
   
  </div>
  <section class="course">
    <div class="container">
        <h1 appHover class="text-center">{{"translate.all category" | translate}}</h1>
    
        <div class="row mt-5" >
          <div class="box shadow-sm">
              <div class="three" *ngFor="let x of homelist">
              
                  <img src="http://localhost/{{x.image}}">
             
    
              </div>
          </div>
        </div>
    </div>
    
    </section>
<app-footer></app-footer>