<div class="home">
  <img src="http://localhost/banner6.gif">
    
    <div class="homecontent">
    <h1>Elavate Your Cooking Skills</h1>
    <button class="btn btn-light" (click)="navigate('product')">View Recipe</button>
</div>
    
   
  </div>
  <section class="course">
    <div class="container">
        <h1 appHover class="text-center">All Category</h1>
    
        <div class="row mt-5" >
          <div class="box shadow-sm">
              <div class="three" *ngFor="let x of homelist">
              
                  <img src="http://localhost/{{x.image}}">
             
    
              </div>
          </div>
        </div>
    </div>
    
    </section>
<app-footer></app-footer>